{% extends "base.html" %}
{% block title %}PHP{% end %}
{% block content %}
	<h1>Hello, PHP!</h1>
	<p>
	<br>
		PHP is a server-side scripting language designed primarily for web development but also used as a general-purpose programming language. Originally created by Rasmus Lerdorf in 1994, the PHP reference implementation is now produced by The PHP Development Team. PHP originally stood for Personal Home Page, but it now stands for the recursive acronym PHP: Hypertext Preprocessor.
	<br>
	</p>
	<p><a class="btn btn-primary btn-lg" href="https://secure.php.net/" role="button">more info &raquo</a></p>
{% end %}