{% extends "base.html" %}
{% block title %}Pythonの紹介{% end %}
{% block content %}
    <h1>Hello, Python!</h1>
    <p>
    <br>
	Python is a widely used high-level programming language for general-purpose programming, created by Guido van Rossum and first released in 1991. An interpreted language, Python has a design philosophy which emphasizes code readability (notably using whitespace indentation to delimit code blocks rather than curly brackets or keywords), and a syntax which allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java. The language provides constructs intended to enable writing clear programs on both a small and large scale
	<br>	
    </p>
    <p><a class="btn btn-primary btn-lg" href="https://www.python.org/" role="button">more info &raquo;</a></p>
{% end %}